---
const { slug, name, image } = Astro.props;
import "../styles/global.css";
import { Image, Picture } from "astro:assets";
---

<article class="category-card">
  <Image
    src={import.meta.env.PUBLIC_STRAPI_URL + image}
    alt={name}
    class="category-image"
    width="200"
    height="250"
    fit="cover"
    sizes="205px"
  />
  <h2>{name}</h2>
  <a href={`/categories/${slug}`} class="view-details">View Details</a>
</article>

<style>
  .category-card {
    list-style: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
  }

  /* .category-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); 
  } */

  .category-image {
    width: 12.8rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .view-details {
    text-decoration: none;
    color: black;
    background-color: lightblue;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 0.95rem;
    transition: background-color 0.3s ease;
  }
</style>
